<?php

// Debug
$app['debug'] = false;

// HTTP Cache
$app['http_cache'] = true;

// Buzz client, null uses Buzz\Client\FileGetContents
$app['buzz.client'] = null; // new Buzz\Client\Curl();

// Log level
$app['monolog.level'] = Monolog\Logger::ERROR;

// XHProf for profiling
$app['xhprof'] = false;

// Redis for statistics and rate limiting
$app['redis.config'] = false; // array('host' => 'localhost', 'port' => 6379);

// Statistics
$app['stats.config'] = array('enabled' => false);

// Rate limiting
$app['rate_limiting.config'] = array('enabled' => false, 'limit' => 150);

// if hosted behind a reverse proxy
$app['proxy'] = false;

// Address of the proxy server (e.g. 192.168.0.1:8080) to use when connecting
// to the SBB server (if any). Default is null.
$app['proxy_server.address'] = null;
