<?php

// Debug
$app['debug'] = false;

// HTTP Cache
$app['http_cache'] = true;

// Buzz client, null uses Buzz\Client\FileGetContents
$app['buzz.client'] = null; // new Buzz\Client\Curl();

// Log level
$app['monolog.level'] = Monolog\Logger::ERROR;

// XHProf for profiling
$app['xhprof'] = false;

// Redis for statistics
$app['redis.config'] = false; // array('host' => 'localhost', 'port' => 6379);

// if hosted behind a reverse proxy
$app['proxy'] = false;
