<?php

// Debug
$app['debug'] = false;

// HTTP Cache
$app['http_cache'] = true;

// Buzz client, null uses Buzz\Client\FileGetContents
$app['buzz.client'] = null; // new Buzz\Client\Curl();

// Log level
$app['monolog.level'] = Monolog\Logger::ERROR;

// Redis for statistics and rate limiting
$app['redis.config'] = false; // ['host' => 'localhost', 'port' => 6379];

// Statistics
$app['stats.config'] = ['enabled' => false];

// Rate limiting
$app['rate_limiting.config'] = ['enabled' => false, 'limit' => 150];

// Trusted proxies, needed for rate limiting behing a reverse proxy, e.g. $app['proxy'] = ['127.0.0.1'];
$app['proxy'] = false;

// Address of the proxy server (e.g. 192.168.0.1:8080) to use when connecting
// to the SBB server (if any). Default is null.
$app['proxy_server.address'] = null;
