header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #999;
    position: relative;
}

header .sign-in {
    position: absolute;
    top: 15px;
    right: 0;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h1 {
    margin: 40px 0 5px 0;
    font-size: 8em;
    line-height: 1;
    color: #a20d0d;
}

h1 a,
h1 a:hover {
    color: #a20d0d;
    text-decoration: none;
}

h1 .second {
    color: #383a3d;
    position: relative;
    left: -20px;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 4em;
    }

}

h2 {
    margin: 40px 0 20px 0;
}

h2 small {
    line-height: 1;
}

ol {
    margin-top: 20px;
}

li {
    color: #383a3d;
}

.tabs {
    margin-top: 20px;
}

.tabs .active > a,
.tabs .active > a:hover {
    color: #383a3d;
}

.description code {
    background: #ececec;
}

.count {
    color: #bfbfbf;
}

.text-disabled {
    color: #ddd;
}

table.connections tr.connection {
    cursor: pointer;
}

table.connections tr.section {
    background-color: #f5f5f5;
    cursor: default;
}
